{% extends 'base.html' %} 


{% block content %}



<h1>LISTAR PRODUCTOS</h1>

{% for mensaje in get_flashed_messages() %}

<div class="alert alert-warning">

    <button type="button"
            class="close"
            data-dismiss="alert"> 
      &times;  
    </button>

    {{ mensaje }}


</div>
{%  endfor %}



<a href="/productos/crear" class="btn btn-info">

    Nuevo producto

</a>
 


<table class="table table-hoover">

    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
            <th colspan="2" class="text-center">Acciones</th>
        </tr>
    </thead>

    <tbody>
        {% for producto in productos %}
        <tr>
            <td> {{producto.nombre}} </td>
            <td> {{producto.precio}}  </td>
            <td> <img src="imagenes/{{producto.imagen}}"  width="200px" height="200px"   alt="">  </td>
            <td>
            
                <a href="/productos/editar/{{producto.id}}" class="btn btn-primary">
                    Actualizar
                </a>
            
            </td>
            <td>
                <a href="/productos/eliminar/{{producto.id}}" class="btn btn-danger">
                    Borrar
                </a>
            
            </td>
        <tr>
        
    
        {% endfor %}
    </tbody>

</table>

{% block scripts%}

{{ super() }}

{% endblock%}


{% endblock %}
