<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listado de clientes</title>
</head>
<body>
    <h1>Clientes registrados: </h1>
<table >
    <thead>
        <tr>
            <td>Username</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.username }}</td>
                <td>{{ cliente.email }}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>
<style>
    table{
        border: 1px solid red;
    };
    table tr{
        border: 1px solid red;
    };
</style>
</body>
</html>